server:
  port: 8500

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/network_ticketing
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  spring:
    jackson:
      serialization:
        WRITE_DATES_AS_TIMESTAMPS: false

logging:
  level:
    org.springframework.security: DEBUG

springdoc:
  swagger-ui:
    path: /swagger-ui.html
